:root {
  --bodyBg: #f0f4f8;
  --menuBg: #0eac9e;
  --progressBar: #54d1db;
}

body {
  background: var(--bodyBg);
}

#menu {
  background: var(--menuBg);
}

/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}

.headerImage{
  overflow: hidden;
  width: 1132px;
  height: 400px;
  margin-bottom: 30px;
  transition: transform .5s ease;
  margin-bottom: auto;
}
.headerImage:hover {
  margin-bottom: 20px;
  transform: scale(1.06); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
marquee {
  width: 100%;
  padding: 10px 0;
  background-color: lightblue;
}
